<div class="shifts-back">
  <br>
  <p><i class="fa-solid fa-arrow-left"></i><%= link_to "Back to Organisation", root_path %></p>
</div>

<table class="mt-5 mb-5">

  <tr>
    <th>Employee name</th>
    <th>Shift date</th>
    <th>Start time</th>
    <th>Finish time</th>
    <th>Break length (minutes)</th>
    <th>Hours worked</th>
    <th>Shift cost</th>
  </tr>

  <% @shifts.each do |shift| %>
    <tr>
      <td><%= shift.user.name %></td>
      <td><%= shift.start.strftime("%d/%m/%Y") %></td>
      <td><%= shift.start.strftime("%I:%M%P") %></td>
      <td><%= shift.finish.strftime("%I:%M%P") %></td>
      <td><%= shift.break_length %></td>
      <td><%= shift.hours_worked.round(1) %></td>
      <td><%= shift.shift_cost.round(1) %></td>
    </tr>
  <% end %>

  <tr>
    <%= render partial: "shared/shift_form" %>
  </tr>

</table>
