<% if current_user.organisation %>
  <h1 class="mt-5 mb-4 text-center"> <%= current_user.organisation.name.capitalize %> shifts </h1>
<% end %>


<div class="shifts-back">
  <br>
  <p><i class="fa-solid fa-arrow-left"></i><%= link_to "Back to Organisation", root_path %></p>
</div>

<table class="mt-5 mb-2">

  <tr>
    <th>Employee name</th>
    <th>Shift date</th>
    <th>Start time</th>
    <th>Finish time</th>
    <th>Break length (minutes)</th>
    <th>Hours worked</th>
    <th>Shift cost</th>
  </tr>

  <% @shifts.each do |shift| %>
    <% if shift.prior_shift == false %>
      <tr>
        <%= render partial: "shared/shift_details", locals: {shift: shift} %>
        <!-- only shifts that belong to current user can be editted/deleted-->
        <% if shift.user == current_user %>
          <td>
            <%= render partial: "shared/edit_shift", locals: {shift: shift}%>
          </td>
          <td>
            <%= link_to "Delete",
              shift_path(shift),
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
              class: "btn-purple-sm px-3 py-2"
            %>
          </td>
        <% end %>
      </tr>
    <% end %>
  <% end %>

  <tr>
    <%= render partial: "shared/shift_form" %>
  </tr>

</table>

<div class="shifts-back text-end">
  <br>
  <p><i class="fa-solid fa-arrow-right"></i><%= link_to "View previous shifts", view_prior_path %></p>
</div>
