<% if current_user.organisation %>
  <h1 class="mt-5 mb-4 text-center"> <%= current_user.organisation.name.capitalize %> shifts </h1>
<% end %>


<div class="shifts-back">
  <br>
  <p><i class="fa-solid fa-arrow-left"></i><%= link_to "Back to Organisation", root_path %></p>
</div>

<div>
  <table class="mt-5 mb-2 shifts">

    <tr>
      <%= render partial: "shared/table_headers" %>
    </tr>

    <% @shifts.each do |shift| %>
      <% if shift.prior_shift == false %>
        <tr>
          <%= render partial: "shared/shift_details", locals: {shift: shift} %>
        </tr>
      <% end %>
    <% end %>

  </table class="mb-5">
</div>

<div data-controller="new-shift", class="mt-5">
  <%= render partial: "shared/shift_form" %>
</div>

<div class="shifts-back text-end">
  <br>
  <p><i class="fa-solid fa-arrow-right"></i><%= link_to "View previous shifts", view_prior_path %></p>
</div>
